@font-face {
   font-family: 'Kaushan Script';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/PROGRAMI/Mobirise%20v5/0a%20Mobirise%20projects/viski%20sajt/fonts/Kaushan Script/regular.ttf') format('truetype');
}
